doctype html
html.default(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title Cageur Web App

    //- seo
    meta(name='application-name', content='Cageur')
    meta(name='author', content='Cageur, support@cageur.com')
    meta(name='description', content='Cageur web application')
    meta(name='keywords', content='admin, template, wrapbootstrap, metro, modern, flat, responsive')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- favicon
    link(rel='apple-touch-icon', sizes='83x83', href='/imgs/common/cageur/cageur-83x83.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/imgs/common/cageur/cageur-76x76.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/imgs/common/cageur/cageur-76x76.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/imgs/common/cageur/cageur-60x60.png')
    link(rel='apple-touch-icon', sizes='40x40', href='/imgs/common/cageur/cageur-40x40.png')
    link(rel='apple-touch-icon', sizes='20x20', href='/imgs/common/cageur/cageur-20x20.png')
    meta(name='apple-mobile-web-app-title', content='Cageur')
    link(rel='icon', type='image/png', href='/imgs/common/cageur/cageur-83x83.png', sizes='83x83')
    link(rel='icon', type='image/png', href='/imgs/common/cageur/cageur-76x76.png', sizes='76x76')
    link(rel='icon', type='image/png', href='/imgs/common/cageur/cageur-76x76.png', sizes='72x72')
    link(rel='icon', type='image/png', href='/imgs/common/cageur/cageur-60x60.png', sizes='60x60')
    link(rel='icon', type='image/png', href='/imgs/common/cageur/cageur-40x40.png', sizes='40x40')
    link(rel='icon', type='image/png', href='/imgs/common/cageur/cageur-20x20.png', sizes='20x20')
    meta(name='msapplication-TileColor', content='#E76049')
    meta(name='msapplication-TileImage', content='/favicons/mstile-144x144.png')

    block header
  body(data-version='4.0.0')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
